In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.preprocessing import LabelEncoder

In [2]:
data = pd.read_csv('loans_full_schema.csv')

In [3]:
print(data.dtypes)

emp_title                            object
emp_length                          float64
state                                object
homeownership                        object
annual_income                       float64
verified_income                      object
debt_to_income                      float64
annual_income_joint                 float64
verification_income_joint            object
debt_to_income_joint                float64
delinq_2y                             int64
months_since_last_delinq            float64
earliest_credit_line                  int64
inquiries_last_12m                    int64
total_credit_lines                    int64
open_credit_lines                     int64
total_credit_limit                    int64
total_credit_utilized                 int64
num_collections_last_12m              int64
num_historical_failed_to_pay          int64
months_since_90d_late               float64
current_accounts_delinq               int64
total_collection_amount_ever          int64
current_installment_accounts          int64
accounts_opened_24m                   int64
months_since_last_credit_inquiry    float64
num_satisfactory_accounts             int64
num_accounts_120d_past_due          float64
num_accounts_30d_past_due             int64
num_active_debit_accounts             int64
total_debit_limit                     int64
num_total_cc_accounts                 int64
num_open_cc_accounts                  int64
num_cc_carrying_balance               int64
num_mort_accounts                     int64
account_never_delinq_percent        float64
tax_liens                             int64
public_record_bankrupt                int64
loan_purpose                         object
application_type                     object
loan_amount                           int64
term                                  int64
interest_rate                       float64
installment                         float64
grade                                object
sub_grade                            object
issue_month                          object
loan_status                          object
initial_listing_status               object
disbursement_method                  object
balance                             float64
paid_total                          float64
paid_principal                      float64
paid_interest                       float64
paid_late_fees                      float64
dtype: object

In [4]:
print(data.describe(percentiles=[.25, .5, .75, .9]))

        emp_length  annual_income  debt_to_income  annual_income_joint  \
count  9183.000000   1.000000e+04     9976.000000         1.495000e+03
mean      5.930306   7.922215e+04       19.308192         1.279146e+05
std       3.703734   6.473429e+04       15.004851         7.016838e+04
min       0.000000   0.000000e+00        0.000000         1.920000e+04
25%       2.000000   4.500000e+04       11.057500         8.683350e+04
50%       6.000000   6.500000e+04       17.570000         1.130000e+05
75%      10.000000   9.500000e+04       25.002500         1.515455e+05
90%      10.000000   1.350000e+05       32.375000         1.980000e+05
max      10.000000   2.300000e+06      469.090000         1.100000e+06

       debt_to_income_joint    delinq_2y  months_since_last_delinq  \
count           1495.000000  10000.00000               4342.000000
mean              19.979304      0.21600                 36.760709
std                8.054781      0.68366                 21.634939
min                0.320000      0.00000                  1.000000
25%               14.160000      0.00000                 19.000000
50%               19.720000      0.00000                 34.000000
75%               25.500000      0.00000                 53.000000
90%               30.698000      1.00000                 69.000000
max               39.980000     13.00000                118.000000

       earliest_credit_line  inquiries_last_12m  total_credit_lines  ...  \
count           10000.00000         10000.00000        10000.000000  ...
mean             2001.29000             1.95820           22.679600  ...
std                 7.79551             2.38013           11.885439  ...
min              1963.00000             0.00000            2.000000  ...
25%              1997.00000             0.00000           14.000000  ...
50%              2003.00000             1.00000           21.000000  ...
75%              2006.00000             3.00000           29.000000  ...
90%              2010.00000             5.00000           39.000000  ...
max              2015.00000            29.00000           87.000000  ...

       public_record_bankrupt   loan_amount          term  interest_rate  \
count            10000.000000  10000.000000  10000.000000   10000.000000
mean                 0.123800  16361.922500     43.272000      12.427524
std                  0.337172  10301.956759     11.029877       5.001105
min                  0.000000   1000.000000     36.000000       5.310000
25%                  0.000000   8000.000000     36.000000       9.430000
50%                  0.000000  14500.000000     36.000000      11.980000
75%                  0.000000  24000.000000     60.000000      15.050000
90%                  1.000000  32000.000000     60.000000      19.420000
max                  3.000000  40000.000000     60.000000      30.940000

        installment       balance    paid_total  paid_principal  \
count  10000.000000  10000.000000  10000.000000    10000.000000
mean     476.205323  14458.916610   2494.234773     1894.448466
std      294.851627   9964.561865   3958.230365     3884.407175
min       30.750000      0.000000      0.000000        0.000000
25%      256.040000   6679.065000    928.700000      587.100000
50%      398.420000  12379.495000   1563.300000      984.990000
75%      644.690000  20690.182500   2616.005000     1694.555000
90%      909.499000  29768.890000   4163.408054     3026.020000
max     1566.590000  40000.000000  41630.443684    40000.000000

       paid_interest  paid_late_fees
count   10000.000000    10000.000000
mean      599.666781        0.119516
std       517.328062        1.813468
min         0.000000        0.000000
25%       221.757500        0.000000
50%       446.140000        0.000000
75%       825.420000        0.000000
90%      1321.992000        0.000000
max      4216.440000       52.980000

[9 rows x 42 columns]

In [5]:
print(data.describe(percentiles=[.25, .5, .75, .9]))

        emp_length  annual_income  debt_to_income  annual_income_joint  \
count  9183.000000   1.000000e+04     9976.000000         1.495000e+03
mean      5.930306   7.922215e+04       19.308192         1.279146e+05
std       3.703734   6.473429e+04       15.004851         7.016838e+04
min       0.000000   0.000000e+00        0.000000         1.920000e+04
25%       2.000000   4.500000e+04       11.057500         8.683350e+04
50%       6.000000   6.500000e+04       17.570000         1.130000e+05
75%      10.000000   9.500000e+04       25.002500         1.515455e+05
90%      10.000000   1.350000e+05       32.375000         1.980000e+05
max      10.000000   2.300000e+06      469.090000         1.100000e+06

       debt_to_income_joint    delinq_2y  months_since_last_delinq  \
count           1495.000000  10000.00000               4342.000000
mean              19.979304      0.21600                 36.760709
std                8.054781      0.68366                 21.634939
min                0.320000      0.00000                  1.000000
25%               14.160000      0.00000                 19.000000
50%               19.720000      0.00000                 34.000000
75%               25.500000      0.00000                 53.000000
90%               30.698000      1.00000                 69.000000
max               39.980000     13.00000                118.000000

       earliest_credit_line  inquiries_last_12m  total_credit_lines  ...  \
count           10000.00000         10000.00000        10000.000000  ...
mean             2001.29000             1.95820           22.679600  ...
std                 7.79551             2.38013           11.885439  ...
min              1963.00000             0.00000            2.000000  ...
25%              1997.00000             0.00000           14.000000  ...
50%              2003.00000             1.00000           21.000000  ...
75%              2006.00000             3.00000           29.000000  ...
90%              2010.00000             5.00000           39.000000  ...
max              2015.00000            29.00000           87.000000  ...

       public_record_bankrupt   loan_amount          term  interest_rate  \
count            10000.000000  10000.000000  10000.000000   10000.000000
mean                 0.123800  16361.922500     43.272000      12.427524
std                  0.337172  10301.956759     11.029877       5.001105
min                  0.000000   1000.000000     36.000000       5.310000
25%                  0.000000   8000.000000     36.000000       9.430000
50%                  0.000000  14500.000000     36.000000      11.980000
75%                  0.000000  24000.000000     60.000000      15.050000
90%                  1.000000  32000.000000     60.000000      19.420000
max                  3.000000  40000.000000     60.000000      30.940000

        installment       balance    paid_total  paid_principal  \
count  10000.000000  10000.000000  10000.000000    10000.000000
mean     476.205323  14458.916610   2494.234773     1894.448466
std      294.851627   9964.561865   3958.230365     3884.407175
min       30.750000      0.000000      0.000000        0.000000
25%      256.040000   6679.065000    928.700000      587.100000
50%      398.420000  12379.495000   1563.300000      984.990000
75%      644.690000  20690.182500   2616.005000     1694.555000
90%      909.499000  29768.890000   4163.408054     3026.020000
max     1566.590000  40000.000000  41630.443684    40000.000000

       paid_interest  paid_late_fees
count   10000.000000    10000.000000
mean      599.666781        0.119516
std       517.328062        1.813468
min         0.000000        0.000000
25%       221.757500        0.000000
50%       446.140000        0.000000
75%       825.420000        0.000000
90%      1321.992000        0.000000
max      4216.440000       52.980000

[9 rows x 42 columns]

In [6]:
print(data.columns)

Index(['emp_title', 'emp_length', 'state', 'homeownership', 'annual_income',
       'verified_income', 'debt_to_income', 'annual_income_joint',
       'verification_income_joint', 'debt_to_income_joint', 'delinq_2y',
       'months_since_last_delinq', 'earliest_credit_line',
       'inquiries_last_12m', 'total_credit_lines', 'open_credit_lines',
       'total_credit_limit', 'total_credit_utilized',
       'num_collections_last_12m', 'num_historical_failed_to_pay',
       'months_since_90d_late', 'current_accounts_delinq',
       'total_collection_amount_ever', 'current_installment_accounts',
       'accounts_opened_24m', 'months_since_last_credit_inquiry',
       'num_satisfactory_accounts', 'num_accounts_120d_past_due',
       'num_accounts_30d_past_due', 'num_active_debit_accounts',
       'total_debit_limit', 'num_total_cc_accounts', 'num_open_cc_accounts',
       'num_cc_carrying_balance', 'num_mort_accounts',
       'account_never_delinq_percent', 'tax_liens', 'public_record_bankrupt',
       'loan_purpose', 'application_type', 'loan_amount', 'term',
       'interest_rate', 'installment', 'grade', 'sub_grade', 'issue_month',
       'loan_status', 'initial_listing_status', 'disbursement_method',
       'balance', 'paid_total', 'paid_principal', 'paid_interest',
       'paid_late_fees'],
      dtype='object')